!.gitignore
.vs/*
Debug/*
x64/*
RunVMware/x64/*
RunVMware/Debug/*
RunHide/x64/*
RunHide/Debug/*
Release/
RunHide/Release/
build-Comm-Desktop_Qt_5_9_2_MSVC2017_64bit-Debug/*
build-Comm-Desktop_Qt_5_9_2_MSVC2017_64bit-Release/*
build-Comm-Desktop_Qt_5_9_2_MSVC2017_64bit-Profile/*